{% extends 'base.html' %}
{% block content %}

<div id="content">

        <!-- insert the page content here -->

        <h1>Welcome to the TweetMe</h1>

        <p>TweetMe is s a social networking and microblogging service. Users use mobile phones or computers to send and to read messages, called "tweets". Tweets can be up to 140 characters long. They appear on the user's profile page. Tweets can usually be read by anyone, but senders can also keep messages private. Private tweets only go to their list of friends. Users may subscribe to tweets from other people. This is called following, and subscribers are known as followers. As of late 2009, users can also follow lists of authors.</p>

      

        <h2>Browser Compatibility</h2>

        <p>This template has been tested in the following browsers:</p>

        <ul>

          <li>Internet Explorer 8</li>

          <li>Internet Explorer 7</li>

          <li>FireFox 3.5</li>

          <li>Google Chrome 6</li>

        </ul>

      </div>


{% endblock  %}
