.btn {
  float: right;
  color: #f2f2f2;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.credentials {
  width:100%; 
  margin:auto;
  padding:14px 16px;
  text-align:right;
}

body {  

background-image: url(localhost:5000/static/image.jpg); 

} 
